[package]
name = "parity-scale-codec-derive"
description = "Serialization and deserialization derive macro for Parity SCALE Codec"
version = "1.0.3"
authors = ["Parity Technologies <admin@parity.io>"]
license = "Apache-2.0"
edition = "2018"

[lib]
proc-macro = true

[dependencies]
syn = { version = "0.15.31", features = [ "full", "visit" ] }
quote = "0.6"
proc-macro2 = "0.4"
proc-macro-crate = "0.1.3"

[features]
default = ["std"]
std = []
